
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400&display=swap');


.CreateNote{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: red; */

    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif; 

}

.CreteNoteHere{
    text-decoration: none;
    color: black;
}

.CreateNote-button{
    margin: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(150, 236, 150, 0.959);
    font-size: 20px;
}

.Link-CR{
    text-decoration: none;
    color: black;
}

.createNote-Container{
    height: 550px;
    width: 400px;
    /* box-shadow: 10px 10px 8px  rgba(80, 80, 80, 0.2); */
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: black;
}

.createNote-Text{
    height: 60px;
    width: 405px;
    /* box-shadow: 10px 10px 8px  rgba(80, 80, 80, 0.2); */
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(253, 228, 0);
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;

}

.JustText{
    text-align: center;
    padding: 20px;

}

.createNote-block-title{
    margin: 10px;
    border-radius: 15px;
    height: 100%;
    /* background-color: rgb(66, 66, 68); */
    padding: 10px;
}

.createNote-block-title input{
    width: 365px;
    height: 60px;
    font-size: 28px;
    padding-left: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgba(247, 247, 247, 0.849);
}

.createNote-block-description{
    margin: 10px;
    border-radius: 15px;
    padding: 20px;

    height: 70%;
    background-color: red;

}

.createNote-description {
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(224, 221, 221, 0.877);

}