@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400&display=swap');


.login-container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.login-Welcome{
    width: 375px;
    margin-top: 10px;
    height: 100px;
    /* background-color: black; */
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

.login-mainBlock{
    width: 340px;
    height: 350px;
    /* background-color: brown; */
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;

}

.login-lable{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.login-input input{
    width: 300px;
    height: 35px;
    margin: 10px;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}

.login{
    margin: 10px;
    justify-content: center;
    display: flex;
}

.login button{
    width: 150px;
    height: 40px;
    border:none;
    border-radius: 10px;   
    font-size: 20px;
    cursor: pointer;
    padding: 7px;
    background-color: rgba(115, 245, 121, 0.822);

}

.new-resister{
    display: flex;
    justify-content: right;
}

.res{
    text-align: right;
    cursor: pointer;
    columns: blue;
}