.Profile-Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.UserProfile{
    margin-top: 10px;
    margin-bottom: 50px;
    width: 345px;
    height:400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    background-color: rgba(209, 255, 2, 0.966);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
    border-radius: 5px;
}

.profile{
    background-color: rgba(8, 49, 49, 0.637);
    height: 110px;
    border-radius: 90px;
    width: 110px;
    color: white;
    font-size: 80px;
    text-align: center;
    padding: 15px;
    
}
.userName{
    width: 300px;
    font-size: 40px;
    text-align: center;
}

.email{
    width: 300px;
    text-align: center;
    font-size: 20px;
}

.mobile-no{
    width: 300px;
    text-align: center;
    font-size: 20px;
}

.Delete{
    width: 300px;
    display: flex;
    justify-content: center;
}

.deleteButton{
    width: 130px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.856);
}

